html {
    background-color: #222425;
}
body.pace-done {
    font-family: 'ostrich_sansmedium', sans-serif;
    background: url('../img/bg.jpg') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    opacity: 1;
}
body.pace-running > * {
    display: none;
    opacity: 0;
}
h1 {
    font-size: 50px;
}
p {
    font-size: 30px;
    line-height: 36px;
}
a, a:visited, a:hover, a:active {
    color: #ff9500;
}
.screen, iframe {
    box-sizing: border-box;
}
.screen {
    background-color: #000;
}
iframe {
    width:100%;
    height:100%;
    border: 0 none;
}
.section {
    text-align: center;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    display: block !important;
    opacity: 1 !important;
    position: fixed;
    z-index: 2000;
    top: 50%;
    top: calc(50% - 25px);
    left: 50%;
    width: 150px;
    height: 150px;
    text-align: center;

    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.pace-inactive {
    display: none !important;
    opacity: 0 !important;
}
.pace .pace-activity {
    z-index: 2000;

    width: 150px;
    height: 150px;
    border: solid 2px transparent;
    border-top-color: #ff9500;
    border-left-color: #ff9500;
    border-radius: 50%;

    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}
#iphone {
    position: fixed;
    top: 110%;
    left: 50%;

    -webkit-transform: translate3d(-50%,0,0);
    -moz-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);

    transition: all 800ms ease 300ms;
    -webkit-transition: all 800ms ease 300ms;
    -moz-transition: all 800ms ease 300ms;

    z-index: 2;
}
.pace-done #iphone {
    top: 90%;
}
.fp-viewing-about #iphone, .fp-viewing-more-0 #iphone, .fp-viewing-more-1 #iphone {
    top: 15%;
}
.pace-done #iphone.landscape {
    top: 25%;
    left: 60%;
}
.pace-done #iphone.ipad.landscape {
    top: 15%;
    left: 65%;
}
.fp-prev, .fp-next {
    opacity: 0;
    transition: all 1s ease 100ms;
    -webkit-transition: all 1s ease 100ms;
    -moz-transition: all 1s ease 100ms;
}
.fp-viewing-more-0 .fp-next {
    opacity: 1;
}
.fp-viewing-more-1 .fp-prev {
    opacity: 1;
}
.fp-viewing-contact #iphone {
    top: -130%;
}
.strip, .contact-strip {
    border-top: 1px solid #393939;
    border-bottom: 8px solid #ff9500;
    height: 60%;
    transition: all 2s ease-out 700ms;
    -webkit-transition: all 2s ease-out 700ms;
    -moz-transition: all 2s ease-out 700ms;
    background-color: #000;
}
.contact-strip {
    margin-top: 40%;
    height: 80%;
}
.strip .left {
    position: absolute;
    top: 50%;
    width: 28%;
    margin-right: 62%;
    padding: 5%;
    text-align: left;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}
.slide .strip .left {
    padding: 2.5%;
    width: 14%;
}
.left .links {
    font-size: 24px;
    line-height: 28px;
}
.left .links a.active {
    text-decoration: none;
    color: #fff;
}
.marvel-device.iphone6:after {
    width: auto !important;
}
.bottom-btn {
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 60px;
    height: 60px;
    background-color: #000;
    border: 1px solid #393939;
    border-radius: 50%;
    z-index: 99;
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    box-shadow: 0 0 10px #888;
    text-align: center;
    font-size: 50px;
    line-height: 70px;
}
body.pace-done .bottom-btn {
    opacity: 1;
}
.bottom-btn .fa-angle-down {
    animation: bouncing-arrow 2s infinite;
    -moz-animation: bouncing-arrow 2s infinite;
    -webkit-animation: bouncing-arrow 2s infinite;
}
.bottom-btn:hover {
    background: #222425;
}
.fp-viewing-contact .bottom-btn {
    opacity: 0 !important;
}

#menu {
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease 700ms;
    -moz-transition: opacity 1s ease 700ms;
    -webkit-transition: opacity 1s ease 700ms;
}
body.pace-done #menu {
    opacity: 1;
}
#menu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
#menu li a {
    text-decoration:none;
    color: #fff;
    font-size: 30px;
}
#menu li:hover {
    background: #222425;
}
#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display:block;
}
#menu li.active a {
    color: #ff9500;
}
#menu {
    position:fixed;
    top:0;
    left:0;
    border-bottom: 1px solid #393939;
    background-color: #000;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}
h1.fadeIn {
    transition: all 400ms ease 600ms;
    -moz-transition: all 400ms ease 600ms;
    -webkit-transition: all 400ms ease 600ms;
}
p.fadeIn {
    transition: all 400ms ease 650ms;
    -moz-transition: all 400ms ease 650ms;
    -webkit-transition: all 400ms ease 650ms;
}
span.fadeIn {
    transition: all 400ms ease 650ms;
    -moz-transition: all 400ms ease 650ms;
    -webkit-transition: all 400ms ease 650ms;
}
.fadeIn {
    position: relative;
    left: -80px;
    opacity: 0;
}
.section.active .fadeIn {
    left: 0;
    opacity: 1;
}





.screen {
    position: relative;
    overflow: hidden;
}
iframe#demo-app-position {
    position: absolute;
    left: -400px;
}
.fp-viewing-about iframe#demo-app-position {
    left: 0;
}
iframe#demo2-app-position {
    position: absolute;
    left: -400px;
}
.fp-viewing-more-0 iframe#demo2-app-position {
    left: 0;
}
.fp-viewing-more-0 iframe#demo-app-position {
    left: 400px;
}

.fp-viewing-more-1 iframe#demo2-app-position {
    left: 0;
}
.fp-viewing-more-1 iframe#demo-app-position {
    left: 400px;
}


.fp-viewing-contact iframe#demo2-app-position {
    left: 400px;
}
.fp-viewing-contact iframe#demo-app-position {
    left: 800px;
}

.app {
    transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);

    transition: all 1s ease 200ms;
    -moz-transition: all 1s ease 200ms;
    -webkit-transition: all 1s ease 200ms;
}








@media (max-width: 1200px) {
    #iphone {
        right: 11%;
        left: auto;
        transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
    }
    .pace-done #iphone.landscape {
        top: 30%;
        left: auto;
        right: 0;
    }
    .pace-done #iphone.ipad.landscape {
        top: 15%;
        right: -5%;
    }
    .strip .left {
        width: 40%;
        margin-right: 50%;
    }
    .slide .strip .left {
        width: 20%;
        margin-right: 60%;
    }
    .bottom-btn {
        right: 2%;
    }
}
@media (max-width: 1200px) and (orientation : landscape) {
    .strip {
        margin-top:5%;
    }
    .strip .left {
        padding-top:10%;
    }
}
@media (max-width: 1024px) {
    .fp-viewing-more-0 .fp-next {
        opacity: 0;
        display: none;
    }
    .fp-viewing-more-1 .fp-prev {
        opacity: 0;
        display: none;
    }
}
@media (max-width: 1023px) and (orientation : portrait) {
    h1 {
        font-size: 60px;
    }
    p {
        font-size: 40px;
        line-height: 50px;
    }
    #iphone {
        right: 5%;
        left: auto;
        transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
    }
    .fp-viewing-about #iphone, .fp-viewing-more-0 #iphone {
        top: 20% !important;
    }
    .strip {
        height:50%;
    }
    .strip .left {
        width: 50%;
        margin-right: 40%;
    }
    .bottom-btn {
        right: 6%;
        width: 120px;
        height: 120px;
        line-height: 140px;
        font-size: 100px;
    }
    #menu li a {
        font-size: 50px;
    }
}






.bubble {
    position: absolute;
    top: 112px;
    left: -400px;
    width: 250px;
    height: 65px;
    padding: 0;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #000 solid 2px;
    z-index: 100;
    opacity: 0;
    color: #000;
    text-align: center;
    font-size: 28px;
    line-height: 65px;
    font-weight: bold;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.bubble .close {
    position: absolute;
    top: -8px;
    left: -8px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    z-index: 200;
    background-color: #fff;
    color: #000;
}
.fp-viewing-about .bubble, .fp-viewing-more-0 .bubble {
    left: -232px;
    opacity: 1;
}
.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 20px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -20px;
    top: 17px;
}
.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 0 16px 21px;
    border-color: transparent #000;
    display: block;
    width: 0;
    z-index: 0;
    right: -23px;
    top: 16px;
}







@-moz-keyframes bouncing-arrow {
    0%,20%,50%,80%,100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    60% {
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
@-webkit-keyframes bouncing-arrow {
    0%,20%,50%,80%,100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
@keyframes bouncing-arrow {
    0%,20%,50%,80%,100% {
        transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    40% {
        transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
    }
    60% {
        transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }
}
@-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}